@using Microsoft.Extensions.Options
@inject IOptions<WI.Models.Web.AppSettings> settings
<!doctype html>
<html class="modern fixed has-top-menu has-left-sidebar-half" data-style-switcher-options="{'changeLogo': false}">
@*sidebar-left-collapsed*@
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>@ViewData["Title"] | SmartBusi</title>


    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keyword"]">
    <meta name="author" content="WebsiteInnovator.com">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Expires" content="30">
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:type" content="website" />

    @*<meta property="og:url" content="@myServer/@ViewData["Canonical"]" />
        <meta property="og:image" content="@myServer/img/totaltire/TT-LOGO.png" />*@


    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,600,700,800,900" rel="stylesheet" type="text/css">

    @*<link rel="stylesheet" href="~/css/wicommon.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@


    @*<environment include="Development">
        </environment>
            <environment exclude="Development">
                <link rel="stylesheet" href="/p-orto-admin/css/main.min.css">
            </environment>*@

    <partial name="_Inc_CSS" />

    <!-- Head Libs -->
    <script src="/p-orto-admin/vendor/modernizr/modernizr.js"></script>


    @RenderSection("head", required: false)

</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header header-nav-menu header-nav-links">
            <div class="logo-container">
                <a href="/" class="logo">
                </a>
                <button class="btn header-btn-collapse-nav d-lg-none" data-toggle="collapse" data-target=".header-nav">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- start: header nav menu -->
                <div class="header-nav collapse">
                    <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 header-nav-main-square">
                        <nav>
                            <ul class="nav nav-pills" id="mainNav">
                                <li class="nav-item dropdown no-arrow mx-1 mt-2 ">
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- end: header nav menu -->
            </div>

            <!-- start: search & user box -->
            <div class="header-right">


                <ul class="notifications">

                    <li>
                        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                            <i class="bx bx-envelope"></i>
                            <!-- Counter - Messages -->
                        </a>

                        <div class="dropdown-menu notification-menu">
                            <div class="notification-title">
                            </div>

                        </div>
                    </li>
                </ul>

                <span class="separator"></span>


                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                    </a>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-toggle d-none d-md-flex" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">

                            <ul class="nav nav-main">
                            </ul>
                        </nav>

                        <hr class="separator" />

                    </div>



                </div>

            </aside>
            <!-- end: sidebar -->

            <section role="main" class="content-body content-body-modern">
                <header class="page-header page-header-left-inline-breadcrumb">
                    <h2 class="font-weight-bold text-6">@ViewBag.Title</h2> @RenderSection("SubTitle", required: false)

                </header>
                <div class="row">
                    <div class="col-12">
                        <div id="content">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </section>
        </div>

  

    </section>

    <partial name="_Inc_JS" />


    <script>
        $(document).ready(function () {
            $('.useridonly').each(function (e) {
                var myspan = $(this);
                var myid = myspan.text().trim();
                $.get("/home/UserInitialOnly", { id: myid })
                    .done(function (data) {
                        myspan.html(data);
                    });
            });
        });
    </script>
    @RenderSection("scripts", required: false)


</body>
</html>
